@{
    ViewData["Title"] = "Home Page";
}

<h2>OpenID Connect MVC Client</h2>

<li><a asp-area="" asp-controller="Home" asp-action="Api1">Api1</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Api2">Api2</a></li>